node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist

webapp/.env
server/.env

webapp/.env.local
server/.env.local
webapp/.env.development.local
server/.env.development.local
webapp/.env.test.local
server/.env.test.local
webapp/.env.production.local
server/.env.production.local

privateKey.pem
publicKey.pem
keys/
keys/privateKey.pem
keys/publicKey.pem
keys/privateKey.pem.pub
keys/publicKey.pem.pub
keys/privateKey.pem.pub

server/scripts/generate-keys.js
server/keys/privateKey.pem
server/keys/publicKey.pem
server/keys/privateKey.pem.pub
server/keys/publicKey.pem.pub
server/keys/privateKey.pem.pub

server/node_modules
webapp/node_modules
webapp/.next
